<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jonathan Lam's Portfolio Website</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="container">
            <header>Jonathan Lam</header>
            <hr />
            
            <hr />
            <footer>
                <h1>Contact me!</h1>
                <a href="https://www.linkedin.com/in/jonathanlam2/"><img id="linkedin" src="../static/images/linkedin.png" alt="Jonathan Lam's LinkedIn"></a>
                <a href="https://github.com/Jonuhthan"><img id="github" src="../static/images/github.png" alt="Jonathan Lam's GitHub"></a>
            </footer>
        </div> 
    </body>
</html>