<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jonathan Lam's Portfolio Website</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>Jonathan Lam</header>
        <hr />
        <!-- About me -->
        <div class="sectionContainer">
            <h1 class="title">About me</h1>
            <p>Hi! My name is Jonathan Lam, and I'm a rising second-year at the University of Virginia. I enjoy...</p>
            <p>I'm always looking for new opportunities within the software engineering field, including internships for Fall 2024...</p>
        </div>
        <!-- Projects -->
        <div class="sectionContainer">
            <h1 class="title">Projects:</h1>
            <p class="projectDate">June 2024</p>
            <a href="PomodoroExtension.html" class="projectName">Pomodoro Browser Extension (In-progress)</a>
            <p class="projectDate">February 2024</p>
            <a href="NothingButNutrition.html" class="projectName">Nothing but Nutrition</a>
            <br>
            <p class="projectDate">January 2024</p>
            <a href="ImageToASCII.html" class="projectName">Image to ASCII Converter</a>
            <br>
            <p class="projectDate">October 2023</p>
            <a href="Wordle.html" class="projectName">Wordle</a>
        </div class>
        <!-- Skills -->
        <div class="sectionContainer">
            <h1 class="title">Skills</h1>
            <ul>
                <li></li>
            </ul>
        </div>
        <!-- Contact -->
         <hr />
        <footer>
            <h1>Contact me!</h1>
            <a href="https://www.linkedin.com/in/jonathanlam2/"><img id="LinkedIn" src="../static/images/linkedin.png" alt="Jonathan Lam's LinkedIn"></a>
            <a href="https://github.com/Jonuhthan"><img id="GitHub" src="../static/images/github.png" alt="Jonathan Lam's GitHub"></a>
        </footer>
    </body>
</html>