<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jonathan Lam's Portfolio Website</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>Jonathan Lam</header>
        <hr />
    
        <!-- Contact -->
        <hr />
        <footer>
            <h1>Contact me!</h1>
            <a href="https://www.linkedin.com/in/jonathanlam2/"><img id="LinkedIn" src="../static/images/linkedin.png" alt="Jonathan Lam's LinkedIn"></a>
            <a href="https://github.com/Jonuhthan"><img id="GitHub" src="../static/images/github.png" alt="Jonathan Lam's GitHub"></a>
        </footer>
    </body>
</html>