<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jonathan Lam's Portfolio Website</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="container">
            <header>Jonathan Lam</header>
            <hr />
            <div class="project">
                <div class="projectTextContainer">
                    <h1 class="title">Nothing but Nutrition! 🍎</h1>
                    <p>
                        Nothing but Nutrition is a Flask web application designed to help users gain informative nutritional data about their foods.
                        Through the OpenFoodFacts API and libraries such as OpenCV and Pyzbar, users scan UPC barcodes with their camera and receive clear,
                        organized information in return.
                    </p>
                    <p>
                        This project was inspired by my interest in health and learning more about APIs.
                        As my first experience with them, I gained valuable knowledge in server requests and parsing JSON data,
                        as well as familiarizing myself with new libraries.
                    </p>
                </div>
                <div class="projectDemoContainer">
                    <!-- Insert gif of website demonstration -->
                    <video id="nbnDemoVid" src="../static/images/nbnDemoVid.mp4" type="video/mp4" alt="Nothing But Nutrition Video Demonstration" muted controls>
                </div>
                <div class="sourceCodeContainer">
                    <p>Check out the source code <a href="https://github.com/Jonuhthan/nutrition-tracker-app">here</a>.</p>
                </div>
            </div>
            <hr />
            <footer>
                <h1>Contact me!</h1>
                <a href="https://www.linkedin.com/in/jonathanlam2/"><img id="linkedin" src="../static/images/linkedin.png" alt="Jonathan Lam's LinkedIn"></a>
                <a href="https://github.com/Jonuhthan"><img id="github" src="../static/images/github.png" alt="Jonathan Lam's GitHub"></a>
            </footer>
        </div> 
    </body>
</html>