<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jonathan Lam's Portfolio Website</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="navButtonContainer">
            <img id="navButton" src="../static/images/menu.png" onclick="toggleMenu()">
            <div id="menuContainer">
                <a href="index.html">Home</a>
                <a href="pomodoro.html">Pomodoro Browser Extension (in-progress)</a>
                <a href="nutrition.html">Nothing but Nutrition</a>
                <a href="ASCII.html">Image to ASCII Art</a>
                <a href="wordle.html">Wordle</a>
            </div>
        </div> 
        <div class="container">
            <header>Jonathan Lam</header>
            <hr />
            <div class="project">
                <div class="projectTextContainer">
                    <h1 class="title">Pomodoro Browser Extension ⏲️</h1>
                    <p>
                        Coming soon!
                    </p>
                </div>
                <!-- <div class="sourceCodeContainer">
                    <pre><code class="python">Code goes here... (if necessary)
                    </code></pre>
                </div> -->
            </div>
            <!-- <div class="projectDemoContainer">
                <p>Insert image of project here.</p>
            </div>
            <div class="caption">
                <p>Caption for the image.</p>
            </div> -->
            <hr />
            <footer>
                <div class="footerContainer">
                    <div class="footerItem">
                        <p id="footerName">Jonathan Lam</p>
                        <a href="mailto:jonhaolam@gmail.com" id="email">jonhaolam@gmail.com</a></p>
                    </div>
                    <div class="footerItem">
                        <a href="https://www.linkedin.com/in/jonathanlam2/"><img class="socials" src="../static/images/linkedin.png" alt="Jonathan Lam's LinkedIn"></a>
                        <a href="https://github.com/Jonuhthan"><img class="socials" src="../static/images/github.png" alt="Jonathan Lam's GitHub"></a>    
                    </div>
                </div>
            </footer>
        </div>
        <script src="../static/script.js"></script> 
    </body>
</html>